ul {
    list-style: square;
    color: rgb(0, 0, 0);
    font-size: medium;
}

body {
    background-color: aqua;
}

ol {
    font-size: medium;
    color: black;
}

a {
    font-size: medium;
    color: black;
}

li {
    font-size: medium;
    color: black;
}

button{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(115, 0, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 35px;
    font-size: medium;
    margin-top: 10px;
}

h1{
    color: rgb(255, 0, 0);
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

}
