ul {
    list-style: square;
    color: rgb(0, 0, 0);
    font-size: medium;
}

body {
    background-color: aqua;
}

ol {
    font-size: medium;
    color: black;
}

a {
    font-size: medium;
    color: black;
}

li {
    font-size: medium;
    color: black;
}